body {
    max-width: 1000px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
a div {
    height: 225px;
    width: 1000px;
    font-size: 20px;
    background: white;
    text-decoration: none;
    color: black;
}
.animal:hover {
    text-decoration: underline;
    border: solid black;
}
.menu {
    width: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    background-color: #222633;
}
.menu a {
    float: left;
    display: block;
    margin-bottom: 10px;
}
.menu #remplir {
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin-right: 100px;
    padding: 23px 0 23px;
}
.menu #remplir:hover {
    border: solid #A2D42A;
    color: #A2D42A;
}
.menu input[type=text] {
    padding: 6px;
    border: none;
    margin: 20px 16px 22px 10px;
    font-size: 17px;
}
textarea {
    resize: none;
    font-size: 17px;
}
input {
    margin-top: 20px;
    font-size: 17px
}
form {
    font-size: 20px;
}

/* https://stackoverflow.com/a/4298216 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#age {
    width: 30px;
}
#cp {
    width: 70px;
}
