<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="description" content="Adoption animal">
        <meta name="keywords"
              content="Animaux, adoption">
        <meta name="author" content="Gabriel Michaud">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="form.css">
        <title>ShapoShelter</title>
    </head>
    <body>
    <a href="form.html"><img src="../logo_animal.png" alt="Adoption"></a>
    <p>I see through you
        I know what you are
        I've seen the Devil more than I've seen God
        I see through you
        I know what you are
        I've seen the Devil more than I've seen God

        Cover your ears and shut your eyes
        Because what I'm about to say is gonna ruin your night

        This is a call out
        And I'm not scared to drop some names
        You've dug your grave and you have no one but yourself to blame
        I see the world in black and white
        Because true colour always fades under the right lights

        I see through you
        I know what you are
        I've seen the Devil more than I've seen God
        And when he has you by your neck
        I hope you choke on every fucking word you said

        You've run out of luck and I'm calling your bluff
        You stabbed me in the back but not deep enough
        But not deep enough
        I see through you

        I see through you
        I know what you are
        I've seen the Devil more than I've seen God
        And when he has you by your neck
        I hope you choke on every fucking word you said
        I see through you
        I know what you are
        I've seen the Devil more than I've seen God
        And when he has you by your neck
        I hope you choke on every fucking word you said

        You said I'd never make it
        You said I'd fall on my face
        But now I'm right where I belong and I put you in your place
        You said I'd never make it
        You said I'd make a mistake
        But now I'm right where I belong and you've got nothing to say

        I see through you
        I know what you are
        I've seen the Devil more than I've seen God
        And when he has you by your neck
        I hope you choke on every fucking word you said
        I see through you
        I know what you are
        I've seen the Devil more than I've seen God
        And when he has you by your neck
        I hope you choke on every fucking word you said

        You stabbed me in the back but not deep enough</p>
    <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
        <form method="post">

        </form>
    </body>
</html>

