<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="description" content="Adoption animal">
        <meta name="keywords"
              content="Animaux, adoption">
        <meta name="author" content="Gabriel Michaud">
        <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
        <title>Adoption Animal</title>
    </head>
    <body>
        <div class="menu">
		<a href="form.html"><img src="{{ url_for('static', filename='images/logo_animal.png') }}" alt="Adoption"></a>
            <label for="bar"></label>
            <input type="text" id="bar" placeholder="Nom de race d'animaux...">
	    <a id="remplir" href="{{ url_for('formulaire') }}">Mettre en adoption</a>
        </div>
        {% for i in range(0, 5) %}
            <a href="{{ url_for('page_animal') }}">
                <div class="animal">
                <h2 id="nom">Nom : {{ animaux[i]["nom"] }}</h2>
                <p>Espèce : {{ animaux[i]["espece"] }}<br>
                Race : {{ animaux[i]["race"] }}<br>
                Age : {{ animaux[i]["age"] }}<br>
                Description : {{ animaux[i]["description"] }}</p>
                </div>
            </a>
        {% endfor %}
    </body>
</html>

