<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="description" content="Adoption animal">
        <meta name="keywords"
              content="Animaux, adoption">
        <meta name="author" content="Gabriel Michaud">
        <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
        <title>Adoption Animal</title>
    </head>
    <body>
        <div class="menu">
		<a href="form.html"><img src="{{ url_for('static', filename='images/logo_animal.png') }}" alt="Adoption"></a>
            <label for="bar"></label>
            <input type="text" id="bar" placeholder="Nom de race d'animaux...">
            <a id="remplir" href="something.html">Mettre en adoption</a>
        </div>
        <a href="grilled_cheese.html">
            <div class="recette">
                <h2>Le fameux grilled cheese</h2>
                <p>Facile à préparer et succulent lorsque bien apprêter. <br>
                    Tout le monde doit apprendre cette recette.</p>
            </div>
        </a>
        <a href="salade_grecque.html">
            <div class="recette">
                <h2>La délicieuse salade grecque</h2>
                <p>Impossible de se tromper avec la salade grecque. <br>
                    C'est un plat d'accompagnement simple et plus "fancy" que d'autre sur ce site.</p>
            </div>
        </a>
    </body>
</html>

