{% extends 'base.html' %}
{% block script %}
    <script src="{{ url_for('static', filename='js/formulaire.js') }}"></script>
{% endblock %}
{% block content %}
    <form name="adoption" method="post" onsubmit="return validerFormulaire()">
	<br>
	<div>
	    <label for="nom">Nom de l'animal : </label>
	    <input id="nom" type="text" name="nom" value="{{ request.form['nom'] }}" maxlength="20">
	    * <span id="nom_invalide"></span>
	</div><br>
	<div>
		<label for="espece">Nom de l'espèce : </label>
		<input id="espece" type="text" name="espece" value="{{ request.form['espece'] }}" maxlength="25">
	    * <span id="espece_invalide"></span>
	</div><br>
	<div>
            <label for="race">Nom de la race : </label>
	    <input id="race" type="text" name="race" value="{{ request.form['race'] }}" maxlength="25">
	    * <span id="race_invalide"></span>
	</div><br>
	<div>
            <label for="age">Age : </label>
	    <input id="age" type="number" name="age" value="{{ request.form['age'] }}">
	    * <span id="age_invalide"></span>
	</div><br>
	<div>
            <label for="courriel">Adresse courriel : </label>
	    <input id="courriel" type="text" name="courriel" value="{{ request.form['courriel'] }}" maxlength="80">
	    * <span id="courriel_invalide"></span>
	</div><br>
	<div>
            <label for="adresse">Adresse civique : </label>
	    <input id="adresse" type="text" name="adresse" value="{{ request.form['adresse'] }}" maxlength="50">
	    * <span id="adresse_invalide"></span>
	</div><br>
	<div>
            <label for="ville">Ville : </label>
	    <input id="ville" type="text" name="ville" value="{{ request.form['ville'] }}" maxlength="50">
	    * <span id="ville_invalide"></span>
	</div><br>
	<div>
            <label for="cp">Code postal : </label>
	    <input id="cp" type="text" name="cp" value="{{ request.form['cp'] }}" maxlength="7">
	    * <span id="cp_invalide"></span>
	</div><br>
	<div>
	    <label for="description">Description :<br> 
		<textarea id="description" placeholder="Description..." name="description"
		        cols="50" rows="4">{{ request.form['description'] }}</textarea>
	    </label>
            * <span id="description_invalide"></span>
	</div><br>
        <input type="reset" value="Vider">
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}
