{% extends 'base.html' %}
{% block content %}
    {% for i in range(0, len) %}
        <a href="{{ url_for('page_animal', id=animaux[i]["id"]) }}">
            <div class="animal">
            <h2>Nom : {{ animaux[i]["nom"] }}</h2>
            <p>Espèce : {{ animaux[i]["espece"] }}<br>
            Race : {{ animaux[i]["race"] }}<br>
            Age : {{ animaux[i]["age"] }}<br>
            Description : {{ animaux[i]["description"] }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}
