{% extends 'base.html' %}

{% block content %}
    <div class="page">
	<br> <h2>Nom : {{ animal["nom"] }}</h2>
        <p>Espèce : {{ animal["espece"] }}<br>
         Race : {{ animal["race"] }}<br>
         Age : {{ animal["age"] }}<br>
         Adresse : {{ animal["adresse"] }}, {{ animal["ville"] }}, Québec, {{ animal["cp"] }}<br>
         Description : {{ animal["description"] }}<br>
         Pour rejoindre le propriétaire : <a href="mailto: {{ animal["courriel"] }}">{{ animal["courriel"] }}</a>
        </p>
    </div>
{% endblock %}
