<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Adoption animal">
        <meta name="keywords"
              content="Animaux, adoption">
        <meta name="author" content="Gabriel Michaud">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/css/form.css">
        <title>Adoption Animal</title>
    </head>
    <body>
        <div class="menu">
            <a href="form.html"><img src="../logo_animal.png" alt="Adoption"></a>
            <label for="bar"></label>
            <input type="text" id="bar" placeholder="Nom de race d'animaux...">
            <a id="remplir" href="something.html">Mettre en adoption</a>
        </div>
        { % block nom %} {% endblock %}
    </body>
</html>